<?php

namespace Database\Seeders;

use Illuminate\Database\Seeder;
use Illuminate\Support\Facades\Hash;
use Pterodactyl\Models\User;

class AdminUserSeeder extends Seeder
{
    public function run(): void
    {
        $email = '{{ pterodactyl.admin_email }}';

        // Prüfen, ob der Benutzer bereits existiert
        if (User::where('email', $email)->exists()) {
            $this->command->info("Admin user with email {$email} already exists.");
            return;
        }

        // Benutzer erstellen
        User::create(array(
            'username'   => '{{ pterodactyl.admin_username }}',
            'email'      => '{{ pterodactyl.admin_email }}',
            'name_first' => '{{ pterodactyl.admin_firstname }}',
            'name_last'  => '{{ pterodactyl.admin_lastname }}',
            'password'   => Hash::make('{{ pterodactyl.admin_password }}'),
            'root_admin' => true,
        ));

        $this->command->info('Admin user created successfully.');
    }
}
