<?php

namespace Database\Seeders;

use Illuminate\Database\Seeder;
use Illuminate\Support\Facades\Hash;
use Pterodactyl\Models\User;
use Illuminate\Support\Str;

class AdminUserSeeder extends Seeder
{
    public function run(): void
    {
        $email = '{{ pterodactyl_user.admin_email }}';

        // Prüfen, ob der Benutzer bereits existiert
        if (User::where('email', $email)->exists()) {
            $this->command->info("Admin user with email {$email} already exists.");
            return;
        }

        // Benutzer erstellen
        User::create(array(
	    'uuid' 	 => (string) Str::uuid(),
            'username'   => '{{ pterodactyl_user.admin_username }}',
            'email'      => '{{ pterodactyl_user.admin_email }}',
            'name_first' => '{{ pterodactyl_user.admin_firstname }}',
            'name_last'  => '{{ pterodactyl_user.admin_lastname }}',
            'password'   => Hash::make('{{ pterodactyl_user.admin_password }}'),
            'root_admin' => true,
	    'language'	 => 'en',
        ));

        $this->command->info('Admin user created successfully.');
    }
}