APP_ENV=production
APP_DEBUG=false
APP_KEY=
APP_THEME=pterodactyl
APP_TIMEZONE={{ pterodactyl_env.app_timezone }}
APP_URL={{ pterodactyl_env.app_url }}
APP_LOCALE=en
APP_ENVIRONMENT_ONLY=true

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_HOST={{ pterodactyl_env.db_host }}
DB_PORT={{ pterodactyl_env.db_port }}
DB_DATABASE={{ pterodactyl_env.db_database }}
DB_USERNAME={{ pterodactyl_env.db_username }}
DB_PASSWORD={{ pterodactyl_env.db_password }}

REDIS_HOST={{ pterodactyl_env.redis_host }}
REDIS_PASSWORD=null
REDIS_PORT={{ pterodactyl_env.redis_port }}

CACHE_DRIVER={{ pterodactyl_env.cache_driver }}
SESSION_DRIVER={{ pterodactyl_env.session_driver }}
QUEUE_DRIVER={{ pterodactyl_env.queue_driver }}

HASHIDS_SALT=
HASHIDS_LENGTH=8

MAIL_DRIVER={{ pterodactyl_env.mail_driver }}
MAIL_HOST={{ pterodactyl_env.mail_host }}
MAIL_PORT={{ pterodactyl_env.mail_port }}
MAIL_USERNAME={{ pterodactyl_env.mail_username }}
MAIL_PASSWORD={{ pterodactyl_env.mail_password }}
MAIL_ENCRYPTION={{ pterodactyl_env.mail_encryption }}
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME="Pterodactyl Panel"

