---

- name: Sicherstellen das MariaDB installiert ist
  ansible.builtin.package:
    name: mariadb-server
    state: present

- name: Sicherstellen das MariaDB aktiv ist
  ansible.builtin.service:
    name: mariadb
    enabled: true
    state: started

- name: Pterodactyl Datenbank erstellen
  community.mysql.mysql_db:
    name: "{{ pterodactyl.db_name }}"
    state: present
    login_user: root
    login_password: "{{ pterodactyl.mariadb_root_password }}"

- name: Erstellen Pterodactyl Nutzer
  community.mysql.mysql_user:
    name: "{{ pterodactyl_env.db_username }}"
    password: "{{ pterodactyl_env.db_password }}"
    priv: '{{ pterodactyl.db_name }}.*:ALL'
    host: "%"
    state: present
    login_user: root
    login_password: "{{ pterodactyl.mariadb_root_password }}"

- name: Sicherstellen dass der Pterodactyl Nutzer sich mit dem localhost verbinden kann
  community.mysql.mysql_user:
    name: "{{ pterodactyl.db_name }}"
    password: "{{ pterodactyl.db_password }}"
    priv: '{{ pterodactyl.db_name }}.*:ALL'
    host: "localhost"
    state: present
    login_user: root
    login_password: "{{ pterodactyl.mariadb_root_password }}"

- name: Korrekte Rechte einrichten für den Webserver
  ansible.builtin.file:
    path: /var/www/pterodactyl/
    owner: www-data
    group: www-data
    state: directory
    recurse: yes
  become: true

- name: Installieren von Kern Abhängigkeiten
  ansible.builtin.shell:
    cmd: COMPOSER_ALLOW_SUPERUSER=1 composer install --no-dev --optimize-autoloader
    chdir: /var/www/pterodactyl

- name: Kopieren der .env Datei
  ansible.builtin.template:
    src: pterodactyl.env.j2
    dest: /var/www/pterodactyl/.env
    mode: "0664"

- name: Prüfen ob der APP_KEY in .env existiert
  ansible.builtin.shell:
    cmd: "grep -q '^APP_KEY=' /var/ww/pterodactyl/.env"
  register: app_key_check
  ignore_errors: true

- name: Generieren eines neuen App Key
  ansible.builtin.shell:
    cmd: php artisan key:generate --force
    chdir: /var/www/pterodactyl
  when: app_key_check.rc != 0

- name: Einlesen des App Key aus der .env file
  ansible.builtin.shell: "grep -oP '(?<=^APP_KEY=).*' /var/www/pterodactyl/.env"
  register: app_key_output

- name: String auf den Backup Server verschieben
  ansible.builtin.lineinfile:
    path: /home/luis/backup/key.txt     # Hier den korrekten Speicherort einfügen wo die Datei auf dem Backup Server gespeichert werden soll
    line: "{{ app_key_output.stdout }}"
    state: present
    create: true
  delegate_to: "{{ ansible_host }}"             # IP des Backup Server angeben
  run_once: true                                # Stellt sicher dass die task nur einmal durchläuft

- name: Datenbank Migration und Seed
  ansible.builtin.command: php artisan migrate --seed --force
  args: 
    chdir: /var/www/pterodactyl
  register: migrate_result
  changed_when: "'Nothing to migrate' not in migrate_result.stdout"

- name: Erstellt Markerdatei
  ansible.builtin.file:
    path: /var/www/pterodactyl/.migrations_done
    state: touch
  when: migrate_result is changed

- name: Entferne vorhandenen Admin Benutzer direkt aus der Datenbank
  community.mysql.mysql_query:
    login_user: root
    login_password: "{{ pterodactyl.mariadb_root_password }}"
    query: "DELETE FROM users WHERE username = '{{ pterodactyl_user.admin_username }}';"
    db: "{{ pterodactyl.db_name }}"
  ignore_errors: true

- name: Admin Benutzer über Artisan anlegen
  ansible.builtin.shell: >
    php artisan p:user:make
    --email="{{ pterodactyl_user.admin_email }}"
    --username="{{ pterodactyl_user.admin_username }}"
    --name-first="{{ pterodactyl_user.admin_firstname }}"
    --name-last="{{ pterodactyl_user.admin_lastname }}"
    --password="{{ pterodactyl_user.admin_password }}"
    --admin=1
  args:
    chdir: /var/www/pterodactyl
  become: true

- name: Cronjob einrichten
  ansible.builtin.cron:
    name: "Pterodactyl Scheduler"
    user: "root"
    minute: "*"
    hour: "*"
    day: "*"
    month: "*"
    weekday: "*"
    job: "usr/bin/php /var/www/pterodactyl/artisan schedule:run >> /dev/null 2>&1"
    state: present

- name: Queue Worker kopieren aus Templates
  ansible.builtin.template:
    src: pteroq.service
    dest: /etc/systemd/system
    mode: '0644'
  become: true

- name: Sicherstellen dass der Redis Server beim Boot startet
  ansible.builtin.command: systemctl enable --now redis-server
  become: true

- name: Aktivieren des pteroq-service
  ansible.builtin.command: systemctl enable --now pteroq.service
  become: true

- name: Korrekte Rechte einrichten für den Webserver
  ansible.builtin.file:
    path: /var/www/pterodactyl/
    owner: www-data
    group: www-data
    state: directory
    recurse: yes
  become: true
