---

- name: Installieren von Docker
  ansible.builtin.shell: curl -sSL https://get.docker.com/ | CHANNEL=stable bash
  become: true

- name: Start von Docker beim booten
  ansible.builtin.systemd_service:
    name: docker
    enabled: true
    state: started
  become: true

- name: Ordner erstellen für Wings
  ansible.builtin.file:
    path: /etc/pterodactyl
    state: directory
    mode: '0755'

- name: Architektur für Wings determinieren
  ansible.builtin.set_fact:
    wings_arch: "{{ 'amd64' if ansible_architecture == 'x86_64' else 'arm64' }}"

- name: Download des neuesten release von Wings
  ansible.builtin.get_url:
    url: "https://github.com/pterodactyl/wings/releases/latest/download/wings_linux_{{ wings_arch }}"
    dest: /usr/local/bin/wings
    mode: '0755'
  become: true
